//fonts
$gb:'gibsonbold';
$gbi:'gibsonbold_italic';
$gi:'gibsonitalic';
$gl:'gibsonlight';
$gli:'gibsonlight_italic';
$g:'gibsonregular';
$gsb:'gibsonsemibold';
$gsbi:'gibsonsemibold_italic';

// colors
$grayDark: #1D1D1D;
$grayMedium: #2E2E2E;
$grayLight: #2E2E2E;
$blue: #016bae;
$red: #bf1216;
$yellowGreen: #c6d40d;
$yellow: #e8c500;
$WhiteGray: #f3f3f3;
$OrangeHover: #f78622;
